*{


    margin: 0;
    padding: 0;
box-sizing: border-box;
/*background: #020617;*/


}
/*navtop*/
.special{

 
color: #FFF !important;
}
.navbar_top_main{
    display: flex;
justify-content: space-around;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    align-items: center;
    align-self: stretch;

    background: #020617;
}
.navtop{
text-transform: uppercase;



}

.navicon{
    color: #FFF;
    font-family: "Lexend Deca";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
margin-left: 2rem;

}
.iconme {


    color: #EAB308;
font-family: "Lexend Deca";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.navul a{
    color: #9CA3AF ;

   text-decoration: none ;
}
.navul  {
margin-left: 1rem;
text-transform: uppercase;


}
/* hero_section */

.hero{
    display: flex;
    padding: 96px 165px 96px 165px;
    flex-direction: row;
    align-items: flex-start;
   gap: 12px;
    align-self: stretch;
    background: #111827;
justify-content: space-between;
}

.hero-super{ 
margin-top: -10rem;
    padding: 2rem 1rem .5rem 1rem;
background: #111827  no-repeat ;
background-size: cover;
}

.container{
gap: 24px;
flex-direction: column;
    display: flex;
/* adjust margintop */
    margin-top: 4rem;
}

/* adjust if you need */
.container-right{
margin-left: 5rem;


}
.greetings{
    color: #EAB308;
font-family: "Lexend Deca";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}

.introduce{
    gap: 1rem;
    color: #F3F4F6;
font-family: "Lexend Deca";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 152.381% */
}

.description{
    color: #6B7280;
font-family: "Lexend Deca";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 168.75% */
}

.button{
    color: #000;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /*168.75%*/border-radius: 4px;
    background: #FACC15;
    display: flex;
    padding: 8px 20px;
    align-items: flex-start;
    gap: 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
width: 123px;

}
.firstimage{
    width: 427px;
    height: 427px;
    border-radius: 24px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}



/* footer */
.ending{
    background: #020617;
  
    text-align: center;
    

    width: Hug (685px);
height: Hug (320px);
padding: 56px, 0px, 56px, 0px;
gap: 56px;

}
